html{
background: #f2f2f2;
background: radial-gradient(circle, rgba(242, 242, 242, 1) 0%, rgba(105, 160, 219, 1) 50%, rgba(83, 142, 237, 1) 100%);
justify-content: center;
align-items: center;
}

.all{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#songs{
  align-items: center;
  justify-content: center;
  position: relative;
}

#capaalbum{
  border-radius: 20px;
  box-shadow: 2px black;
  width: 400px;
  height: 400px;
  object-fit: cover;
  z-index: 2;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  align-items: center;
}

#vinyl {
  width: 375px;
  height: 390px;
  animation: spin 5s linear infinite;
  z-index: 1;
  bottom: 0;
  transform: translateX(-50%);
  align-items: center;
}

@keyframes spin {
      from { transform: rotate(0deg); }
      to { transform: rotate(360deg); }
}

.yeahh{
  margin-top: 20px;
  gap: 20px;
}

.yeahh button{
  cursor: pointer;
  width: 30px;
  height: 30px;
  transition: 0.5s;
  background: none;
  border: none;
  color: black;
  font-size: 20px; 
}

.yeahh button:hover{
   width: 35px;
   height: 35px;
}

